@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Klapt-Regular";
  src: url("../../public/fonts/Klapt/Klapt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Klapt-Medium";
  src: url("../../public/fonts/Klapt/Klapt-Medium.ttf") format("truetype");
}

.active {
  font-weight: normal;
  border-bottom: 2px solid white;
}
